---
# task file for docker

- name: Installing packages
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  vars:
    packages:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - gnupg
      - htop
      - lsb-release

- name: Add Docker APT GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository: 
    repo: deb [arch=amd64] https://download.docker.com/linux/{{ansible_distribution | lower }} {{ansible_distribution_release}} stable

- name: update and install docker-ce
  apt: 
    name: "{{ item }}" 
    state: present
    update_cache: yes
  vars:
    packages:
      - docker-ce
      - docker-ce-cli
      - docker-compose
      - containerd.io

- name: Add docker users and add to the docker group
  user:
    name: "{{ item }}" 
    groups: docker
    append: true
  loop:
    - vagrant
    - ubuntu

- name: Start docker
  service:
    name: docker
    state: started
    enabled: yes






      

